import init.u8120.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on post-fs

# create WIFI filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/wifi 0770 system wifi
    mkdir /data/misc/wifi/sockets
    chown system wifi /data/misc/wifi/sockets
    chmod 770 /data/misc/wifi/sockets
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/system 0775 system system

    setprop wifi.interface eth0
    mkdir /data/wpstiles/ 0777 shell
    mkdir /etc/wiper 0775 location qcom_oncrpc
    mkdir /data/misc/prox 0777 radio radio 
    
#     
    mkdir /data/local 0777 radio shell
    mkdir /data/local/tmp 0777 radio shell
    chown radio shell /data/local
    chown radio shell /data/local/tmp
   
on boot
    setprop ro.bt.bdaddr_path "/data/.nvmac_bt.info"
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
    
    # Increase read throughput from sd card
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048
        
    chmod 0777 /sys/kernel/logger/log_events/enable
    chmod 0777 /sys/kernel/logger/log_main/enable
    chmod 0777 /sys/kernel/logger/log_main/priority
    chmod 0777 /sys/kernel/logger/log_radio/enable
    chmod 0777 /sys/kernel/logger/log_radio/priority

# cpufreq configurations
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 500000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/down_threshold 30

   # Setup android gadget
    write /sys/module/g_android/parameters/serial_number CM9-U8120
    write /sys/module/g_android/parameters/product_id 0x1038

    # SD card polling
    chown system system /sys/module/g_android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/devices/platform/android_usb/remote_wakeup

    # Enable MASS storage on SDCARD
    write /sys/devices/platform/mass_storage/lun0/file /dev/block/mmcblk0p1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.2/polling 1

# For qmuxd socket
    mkdir /data/radio 0770 radio radio
    chown radio radio 0770 /data/radio
    chown radio system /dev/pm_monitor

    chmod 0777 /dev/accel
    chmod 0777 /dev/akm8973_aot
    chmod 0777 /dev/akm8973_dev
    chmod 0777 /dev/ofn

# Input
    chmod 0777 /dev/input/event0
    chmod 0666 /dev/input/event1
    chmod 0666 /dev/input/event2
    chmod 0666 /dev/input/event3

# Temporary hack to prevent framebuffer flicker
    write /sys/class/graphics/fb0/state 1

# Permissions for camera access
    chmod 0666 /dev/msm_camera/config0
    chmod 0666 /dev/msm_camera/control0
    chmod 0666 /dev/msm_camera/frame0

    # framebuffer permission for copybit
    chmod 0667 /dev/graphics/fb0

service qmuxd /system/bin/qmuxd
    class main

# rmt_storage
service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    class main
    user root
    group radio
    disabled
    
# Atheros BT filter
on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start abtfilt

on property:init.svc.bluetoothd=stopped
    stop abtfilt

# Bluetooth/WLAN coexistance filter for Atheros AR600x
    service abtfilt /system/bin/abtfilt -c -d -z -n
    user root

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
    
service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class main
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot

# START HUAWEI RPC SERVICE
service oem_rpc_svc /system/bin/oem_rpc_svc
    class main
    oneshot

# WPA SETTINGS
service wpa_supplicant /system/bin/wpa_supplicant -Dawext -ieth0 -W -c /data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
    
service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# compass/accelerometer daemon
service akmd /system/bin/akmd2
    class main
    user compass
    group compass misc input

# bugreport is triggered by the KEY_VOLUMEUP and KEY_CENTER keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 232

# AP mode daemon for Atheros AR600x
service hostapd /system/bin/logwrapper /system/bin/hostapd /data/misc/wifi/hostapd.conf
    class main
    group wifi inet
    socket wpa_athap0 dgram 660 wifi wifi
    disabled
    oneshot



