/dev/oncrpc/*      		 0660	radio  		system
/dev/accel    			 0640	system    	system
/dev/akm8973_aot  		 0640	compass    	system
/dev/akm8973_dev  		 0640	compass    	system
/dev/ttyHS0    			 0600	bluetooth  	bluetooth
/dev/ttyMSM0            	 0600	bluetooth  	bluetooth
/dev/cpu_dma_latency		 0660	system		system
/dev/i2c-0			 0660	root		system
/dev/i2c-1			 0660	root		system
/dev/graphics/fb0  		 0777	system    	system
/dev/msm_aac			 0660	system		audio
/dev/msm_amrnb			 0660	system		audio
/dev/msm_amrnb_in		 0660	system		audio
/dev/msm_amrwb			 0660	system		audio
/dev/msm_camera/*       	 0777	system       	system
/dev/msm_evrc			 0660	system		audio
/dev/msm_mp3			 0660	system		audio
/dev/msm_pcm_ctl		 0660	system		audio
/dev/msm_pcm_dec		 0660	system		audio
/dev/msm_pcm_in			 0660	system		audio
/dev/msm_pcm_out		 0660	system		audio
/dev/msm_preproc_ctl		 0660	system		audio
/dev/msm_qcelp			 0660	system		audio
/dev/msm_snd		 	 0660	system		audio
/dev/msm_voicememo		 0660	system		audio
/dev/msm_wma			 0660	system		audio
/dev/msm_wmapro			 0660	system		audio
/dev/pmem			 0660	system		graphics
/dev/pmem_adsp			 0660	system		audio
/dev/pmem_audio			 0660	system		audio
/dev/pm_monitor      		 0770   radio     	radio
/dev/ofn                	 0640	root            root
/dev/rtc0			 0660	system		radio
/dev/rtc1			 0660	system		radio
/dev/system_bus_freq 		 0660	system 		system
/dev/tty                	 0666	root       	root
/dev/tty0               	 0660	root       	system
/dev/uinput			 0660	system       	bluetooth
/dev/video20			 0660	system		camera
/sys/kernel/logger/log_main/*    0777	system		system
/sys/kernel/logger/log_events/*  0777	system		system
/sys/kernel/logger/log_radio/*   0777	system		system
/dev/input/event*                0777	system		system
/dev/smdcntl0              	 0640   radio      	radio
/dev/smdcntl1              	 0640   radio      	radio
/dev/smdcntl2              	 0640   radio      	radio

